@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* font-family: 'Source Sans Pro', sans-serif; */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #FFF;
}
button {
    cursor: pointer;
}
.access-button {
    border-radius: 50px !important;
}
a {
    color: #FFF;
    text-decoration: none;
}
h1 {
    font-size: 3rem;
    margin: 60px 0 60px 0;
    color: rgb(47, 173, 102);
    text-align: left;
}
p {
    text-align: justify;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .5);
}
#nav-menu {
    background-color: rgb(47, 173, 102);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000000;
}
#ul-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.li-menu {
    font-size: 1rem;
    margin: 0 20px 0 20px;
}
.li-menu:hover {
    border-bottom: 1px solid #FFF;
}

/* Início */
#article-inicio, #article-receitas {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20% 0 20%;
}
#img-decisao {
    width: 100%;
    max-width: 650px;
    height: auto;
    cursor: pointer;
}
#img-decisao:hover {
    opacity: 80%;
}

/* Receitas */
.div-receitas h3 {
    font-size: 1.5rem;
}
.div-receitas figcaption {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
}
.div-receitas img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 6px;
}

/* Rodape */
footer {
    background-color: rgb(47, 173, 102);
}

#nav-rodape {
    padding: 20px 0 20px 0;
    margin: 5% 0 0 0;
}
#ul-rodape {
    list-style-type: none;
}

.li-rodape {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px 0 10px 1vw;
}
#button-article-inicio {
    position: fixed;
    height: 70px;
    width: 70px;
    top: 80%;
    right: 5%;
    background-color: rgb(54, 201, 117);
    border: 0 solid rgb(54, 201, 117);
    border-radius: 50px;
    transition: 300ms;
    z-index: 100000;
}
@media (max-width: 850px) {
    #ul-menu {
        justify-content: center;
    }
    h1 {
        font-size: 1.5rem;
    }
    #article-inicio, #article-receitas {
        margin: 0 7% 0 7%;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}
