@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* font-family: 'Source Sans Pro', sans-serif; */
:root {
    --softgreen_text: #2FAD66;
    --softgreen_button: #36C975;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #FFF;
}
button {
    cursor: pointer;
}
.access-button {
    border-radius: 50px;
}
a {
    color: #FFF;
    text-decoration: none;
}
h1 {
    font-size: 3rem;
    margin: 60px 0 60px 0;
    color: var(--softgreen_text);
    text-align: left;
}
p {
    text-align: justify;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .5);
}
#nav-menu {
    background-color: var(--softgreen_text);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000000;
}
#ul-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.li-menu {
    font-size: 1rem;
    margin: 0 20px 0 20px;
}
.li-menu:hover {
    border-bottom: 1px solid #FFF;
}

/* Início */
#article-inicio, #article-receitas {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20% 0 20%;
}
#img-decisao {
    width: 100%;
    max-width: 650px;
    height: auto;
    cursor: pointer;
}
#img-decisao:hover {
    opacity: 80%;
}

/* Receitas */
.div-receitas h3 {
    font-size: 1rem;
    margin-left: 30px;
}
.div-receitas p {
    font-size: .9rem;
    margin: 0 30px 30px 30px;
}
.div-receitas figcaption {
    text-align: justify;
    margin-bottom: 25px;
    font-size: 1.1rem;
}
.div-receitas img {
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.div-receitas-descricao {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #EEE;
}

/* Rodape */
footer {
    background-color: var(--softgreen_text);
}

#button-article-inicio {
    position: fixed;
    height: 70px;
    width: 70px;
    top: 80%;
    right: 5%;
    background-color: var(--softgreen_button);
    border: 0 solid var(--softgreen_button);
    border-radius: 50px;
    transition: 300ms;
    z-index: 100000;
}
@media (max-width: 850px) {
    #ul-menu {
        justify-content: center;
    }
    h1 {
        font-size: 1.5rem;
    }
    #article-inicio, #article-receitas {
        margin: 0 7% 0 7%;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}
